<?xml version="1.0" encoding="UTF-8" ?>
<!--
openrqm-server
Log4J configuration for the OpenRQM server
SPDX-License-Identifier: GPL-2.0-only
Copyright (C) 2019 Marcel Jaehn
-->
<Configuration strict="true">
    <Properties>
        <Property name="filename">logs/openrqm-server.log</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="stdout">
            <Layout type="PatternLayout" pattern="%m%n" />
        </Appender>
        <Appender type="File" name="file" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d{dd.MM.yyyy HH:mm:ss} [%-5p] %c{1}: %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="org.openrqm" level="trace" additivity="false">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file" level="debug"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>

</Configuration>